.mainDiv {
  width: 50rem;
  margin: auto;
}

.button {
  /* background-image: linear-gradient(to right, #c2dedc, #ece5c7); */
  background-color: #c0cfb4;
  border: #c0cfb4;
  color: black;
  font-weight: bold;
}

.button:hover {
  background-color: #99a98f;
}

.cardHeader {
  background-color: #c2dedc;
  font-weight: bold;
}
